### Q-78 Check if the string is palindrome or not

In [1]:
stra1="aba"
stra2=''
for i in range(-1,-len(stra1)-1,-1):
    stra2+=(stra1[i])
if stra2 == stra1:
    print("string is palindrome",stra1)
else:
    print("string is not palindrome")

string is palindrome aba

## Q-79 print the given string in reverse order

In [2]:
num=str(input("Enter your name "))
reverse_string=""
for i in range(-1,-len(num)-1,-1):
    reverse_string+=num[i]
print("reverse-string",reverse_string)

Enter your name f
reverse-string f

## Q-80 Remove all character from string excepts alpphabets

In [3]:
str1='$aGee*k;s..fo, râ€™Ge^eksz'
newstring=" "
for i in str1:
    if ord(i)>ord("a")-1 and ord(i)<ord("z")+1:
        newstring+=i
    elif ord(i)>ord("A")-1 and ord(i)<ord("Z"):
        newstring+=i
print(newstring)

 aGeeksforGeeksz

## Q-81 Remove spaces from a string

In [4]:
s='v i j a y y a d a v'
news=""
for i in s:
    if i !=" ":
        news+=i
print(news)

vijayyadav

## Q-82 Remove bracket from the from an algebraic expression

In [5]:
str1="(a-(b+c)+d)"
str2=""
for i in str1:
    if i !=("(") and i !=(")"):
        str2+=i
str2

'a-b+c+d'

## Q-83 Count the sum of numbers in a string

In [11]:
str1="vijay132yadav66"
str2=""
for i in range(len(str1)):
    if str1[i]<='0' or str1[i]<="9":
        str2+=str1[i]
    else:
        print(str1[i])
str2

v
i
j
a
y
y
a
d
a
v

'13266'

In [7]:
str3="vijay132yadav66"
number

In [34]:
str="vijay132yadav66 "
number=[]
num=""
chars=""
for char in str:
    if char.isdigit():
        num +=char
    else:
        chars += char
        if num !="":
            number.append(int(num))
            num=""
result=sum(number )
print(result)
print(chars)

198
vijayyadav

## Q-84 Capitalize the  first and last charater of each world in a string

In [21]:
s="vijay"
s1=" "
for i in range(len(s)):
    #print(i)
    if i== 0 or i==len(s)-1:
        s1+=(chr(ord(s[i])-32))
    else:
        s1+=s[i]
s1

' VijaY'

## Q-85 Calculate the frequency of characte in a string

In [11]:
str1="GeeksforGeeks"
d={}
for i in str1:
    if i in d:
        d[i]+=1
    else:
        d[i]=1
print(d)

{'G': 2, 'e': 4, 'k': 2, 's': 2, 'f': 1, 'o': 1, 'r': 1}

## Q-86 Find the non-repeating characters in a string

In [23]:
str2="vijayyadav"
d1={}
for i in str2:
    if i in d1:
        d1[i]+=1
    else:
        d1[i]=1
print(d1)
str5=""
for i in d1:
    if d1[i]==1:
        str5+=i
str5

{'v': 2, 'i': 1, 'j': 1, 'a': 3, 'y': 2, 'd': 1}

'ijd'

## Q-87 Check the two string are anagram or not

In [73]:
str1=str(input("Enter your string : ")) 
str2 =str(input("Enter your second string : "))
str3=''
if len(str1) == len(str2):
    for i in range(len(str1)):
        if str1[i] in str2:
            str3+=str2[i]
if len(str3) == len(str1):
    print("Given strin is Anagram string",str3)
else:
    print("Given string is not Anagram string",str2,str1)

Enter your string : ttu
Enter your second string : ytt
Given string is not Anagram string ytt ttu

In [74]:
def check(str1,str2):
    if len(str1)!= len(str2):
        return 0
    for i in str1:
        if i in dict1:
            dict1[i] +=1
        else:
            dict1[i] = 1
    for i in str2:
        if i in dict2:
            dict2[i] +=1
        else:
            dict2[i] = 1
    if dict1 == dict2:
        return 1
    else:
        return 0
    
str1 = input("enter any string1: ")
str2 = input("Enter any string2: ")
dict1 = {}
dict2 = {}
if check(str1, str2):
    print("anagram")
else:
    print("Not")

enter any string1: er
Enter any string2: er
anagram

## Q-88 Replacing a particular word with another wordin a string (input="geeksforgeeks",sub1="for", sub2" ",that output="geeksthatgeeks

In [59]:
str1="geeksforgeeks"
str2="for"
str3="that"
d=""
s = ''
for i in str1:
    if i in "for":
        d+=i
    elif d == str2:
        s+=str3
        d+="a"
        s+=i;
    else:
        s+=i
s

'geeksthatgeeks'

In [63]:
str1="The quicekbrownfox jumps over the lazeydog"
str1.replace("fox","cat")

'The quicekbrowncat jumps over the lazeydog'

## Q-89 Print all parmutation of a given string in lexicographically sorted order

In [68]:
st="ABC"
for i in range(len(st)):
    print(st[i],end="")
for i in range(1,len())

ABC